.row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 150%;
}
.title-gold-font {
  color: gold !important;
}
.martop{
  margin-top: 40px;
}
