<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Flash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-grid class="center martop">
    <ion-row class="center">
      <ion-title class="center title-gold-font"> Orden: </ion-title>
    </ion-row>
    <ion-row class="center">
      <ion-text class="title-gold-font"> #{{clientOrder?.orderId}} </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-col *ngIf="errorMessage === undefined" size="11">
        <ion-accordion-group [multiple]="true" [value]="clientOrder?.id">
          <ion-accordion value="{{clientOrder?.id}}">
            <ion-item slot="header">
              <ion-label>Orden #{{clientOrder?.orderId}} | Mesa: {{clientOrder?.tableName}}</ion-label>
            </ion-item>
            <ion-item *ngFor="let item of clientOrder?.clientOrderItemList" slot="content">
              <ion-label>{{item.quantity}} {{item.itemName}} {{item.description}} ({{item.additionalComments}})</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    <ion-col *ngIf="errorMessage !== undefined" size="11">
      <ion-text>Error: {{errorMessage}}</ion-text>
    </ion-col>
  </ion-grid>

</ion-content>
