.left-item-column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

ion-row {
  width: 100%;
  height: auto;
}


.row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
