.scanner-buttons{
  margin: 0px;
  position: absolute;
  bottom: 100px;
  width: 100vw;
  height: 50px;
  z-index: 11;
}

.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.active-camera {
  background: transparent;
  opacity: 0;
}

.left-item-column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

ion-row {
  width: 100%;
  height: auto;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.buttons {
  text-align: center;
}
