<ion-header [hidden]="isScanActive">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>QrScanner</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [style.&#45;&#45;backgroud]="isScanActive ? '#00000000' : '#fff'">-->
<ion-content class="{{isScanActive ? 'active-camera' : ''}}">

<!--  <ion-button expand="full" (click)="startScanner()" *ngIf="!isScanActive">-->
<!--    <ion-icon name="scan" slot="start"></ion-icon>-->
<!--    Start Scan-->
<!--  </ion-button>-->

  <swiper-container #swiper>
    <swiper-slide>
<!--      <p class="ion-text-center" *ngIf="result && !isScanActive">{{result}}</p>-->
<!--      <ion-row class="scanner-buttons" *ngIf="isScanActive">-->
<!--        <ion-col class="ion-no-padding">-->
<!--          <ion-button expand="full" (click)="stopScan()">Stop</ion-button>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
      <p class="ion-text-center">Silde1</p>
    </swiper-slide>

    <swiper-slide>
      <p class="ion-text-center">Silde2</p>
    </swiper-slide>
  </swiper-container>



  <!--  <div class="scan-box" [hidden]="!isScanActive"></div>-->
</ion-content>
