<ion-header [hidden]="isScanActive">
  <ion-toolbar color="primary">
    <ion-title>QrScanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--backgroud]="isScanActive ? '#00000000' : '#fff'">
  <ion-button expand="full" (click)="startScanner()" [hidden]="isScanActive">
    <ion-icon name="scan" slot="start"></ion-icon>
    Start Scan
  </ion-button>
  <p class="ion-text-center" *nfIf="result && !isScanActive">{{result}}</p>
  <ion-row class="scanner-buttons" [hidden]="!isScanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>

  <div class="scan-box" [hidden]="!isScanActive"></div>
</ion-content>
