
<ion-content [fullscreen]="true" color="dark">
  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-title class="ion-padding">Bienvenido</ion-title>
    </ion-row>

  <ion-row class="buttons">
    <ion-col>
      <ion-button (click)="readQr()" color="warning"
                  shape="round">
        Leer QR
      </ion-button>
    </ion-col>
  </ion-row>

    <ion-row class="buttons">
      <ion-col>
        <ion-button (click)="openProfile()" color="warning"
                    shape="round">
          Abrir perfil
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
