<ion-header>
  <ion-toolbar color="warning">
      <ion-fab (click)="logout()" slot="end" horizontal="end">
        <ion-fab-button color="light" size="small">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <ion-title>Bienvenido a Menu Flash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" color="dark">
  <ion-grid class="ion-padding">

  <ion-row class="buttons">
    <ion-col>
      <ion-button (click)="openQrScan()" color="warning"
                  shape="round">
        Abrir "Leer QR"
      </ion-button>

    </ion-col>
  </ion-row>

    <ion-row class="buttons">
      <ion-col>
        <ion-button (click)="openProfile()" color="warning"
                    shape="round">
          Abrir "Perfil"
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="buttons">
      <ion-col>
        <ion-button (click)="openMyOrders()" color="warning"
                    shape="round">
          Abrir "Mis Ordenes"
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
