
<ion-content [style.--backgroud]="isScanActive ? ' #00000000' : '#fff'">
  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-title class="ion-padding">Bienvenido</ion-title>
    </ion-row>

  <ion-row class="buttons">
    <ion-col>
      <ion-button (click)="readQr()" color="warning"
                  shape="round">
        Abrir "Leer QR"
      </ion-button>

        <ion-row >
          <ion-button expand="full" (click)="stopScanner()" >Cancelar</ion-button>
        </ion-row>

    </ion-col>
  </ion-row>

    <ion-row class="buttons">
      <ion-col>
        <ion-button (click)="openProfile()" color="warning"
                    shape="round">
          Abrir "Perfil"
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="buttons">
      <ion-col>
        <ion-button (click)="openMyOrders()" color="warning"
                    shape="round">
          Abrir "Mis Ordenes"
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
